:root{
    --bg-black: rgb(22,23,22);
}
body{
    /* cursor: none; */
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.floating{
    position: absolute;
}
div.parent_menu{
    color: white;
    width: 13%;
    height: 30%;
    background-color: var(--bg-black);
    border-radius: 10px;
    text-align: left;
    padding: 5px 20px;
    cursor: pointer;
    right: 3%;
    top: 5%;
}
div.parent_menu .heading{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.parent_menu .heading svg{
    width: 18%;
}
ul.menu{
    height: 65%;
    overflow: auto;
    padding: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-black);
    text-align: center;
}
ul.menu li{
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.55;
    transition: opacity 0.3s;
}
ul.menu li:hover{
    opacity: 1;
}
#lower_controls, #left_controls, #right_controls{
    bottom: 5%;
}

#lower_controls{
    right: 50%;
    transform: translateX(50%);
}


#speed_control{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    column-gap: 20px;
    font-size: 1.3rem;
}
#speed_control h4{
    grid-column: 1/4;
    align-self: end;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
}

#speed_control button{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: 2px solid white;
    cursor: pointer;
    height: fit-content;
}
#right_controls{
    display: flex;
    justify-content: right;
    width: 25%;
    right: 5%;
}
#date_control, #date_control div{
    display: flex;
    flex-direction: column;
}
#date_control{
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
}

#date_control div{
    margin-bottom: 20px;
}
#date_control div label{
    margin-bottom: 5px;
}
#date_control div input{
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
}

#date_control div button{
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: black;
    border: 2px solid white;
    color: white;
}

#date_control div button:active{
    background-color: white;
    color: black;
}

#left_controls{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 5%;
    height: 100%;
    width: 25%;
}

#left_controls #logs{   
    overflow-y: scroll;
    width: 70%;
    height: 30%;
    border: 2px solid white;
    background-color: var(--bg-black);
    border-radius: 7px;
}
#logs #header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
    color: black;
    font-weight: 500;
}
#logs #header span:nth-child(2){
    cursor: pointer;
    color: tomato;
}
#logs p{
    padding: 5px 10px;
    margin-top: 0;
    color: dodgerblue;
    border-bottom: 2px solid rgba(255,255,255,0.25);
}
#logs p:first-child{
    margin-top: 10px;
}

#logs p.red{
    color: tomato;
}